{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <link href="/static/base/css/home_page.css" rel="stylesheet">
    </head>
<body>
<div class="container">
    <div><img src="/static/base/images/wheel.gif/" id="slot_img"></div>
    <p id="tagline">Feel the excitement with every spin – start playing with your monthly points!</p>
    <div class="login_signup_btn">
        <a href="/accounts/login" class="login_btn">Login</a>
        <a href="sign_up/" class="sign_up_btn">Sign Up</a>
    </div>
</div>


</body>
</html>