<!DOCTYPE html>
<html>
    <head>
        <link href="/static/base/css/slot_machine_page.css" rel="stylesheet">
    </head>
    
<body>
    <div class="error_modal">
        <p class="error_msg">This is a placeholder for modal
        </p>
        <a href="javascript:void(0);" class="close_modal">Close</a>
    </div>

    <div id="left_logout">
        <a href="/logout" id="logout_btn">Logout</a>
    </div>
    <div class="grid-container">
        <table id="students">
            <tr>
              <td>Current Points for the Month</td><td> 
              <span class="balance">{{account_information_obj.current_month_balance}}</span></td>
              
            </tr>
            <tr>
                <td>Overall_wins</td><td><span class="overall_wins">{{account_information_obj.no_of_wins}}</span></td>
                
              </tr>
        
          </table>
    <div class="spin-display">
    {% for row in grid %}
	<div class="row">
		
		{% for col in row %}
			<div class="col">{{col}}</div>
		{% endfor %}
        
		
	</div>
	{% endfor %}
    </div>

    <input type="text" class="no_of_lines inp_txt" placeholder="Number of Lines to bet on">
    <input type="text" class="bet_amount inp_txt" placeholder="Points to bet on each line">
    <a href="" class="button spin_machine">Play</a>
    </div>

</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script>
    $('.close_modal').click(function(e){
        $('.error_modal').css('display', 'none');
        $('.grid-container').removeClass('blur');
        $('#left_logout').removeClass('blur');
    });

    $('.spin_machine').click(function(e){
        e.preventDefault()
        var no_of_lines = $('.no_of_lines').val();
        var bet_amount = $('.bet_amount').val();
        var balance = $('.balance').text();
        
        $.ajax({

            url: '/ajax-spin-machine/',
            type: "POST",
            data: {'balance': balance,'no_of_lines': no_of_lines, 'bet_amount': bet_amount, 'csrfmiddlewaretoken': '{{csrf_token}}'},
            success: function (data) {
                let x = JSON.parse(data);
                if(x.success)
                {
                    $('.spin-display').html('');
                    $('.spin-display').html(x.html);
                    $('.balance').text(x.balance);
                    $('.overall_wins').text(x.wins);
                    console.log(x);
                }
                else{
                    $('.error_msg').text(x.msg);
                    $('.grid-container').addClass('blur');
                    $('#left_logout').addClass('blur');
                    $('.error_modal').css('display', 'flex');
                }
                
            },

            // Error handling 
            error: function (error) {
                console.log(`Error ${error}`);
            }
        });
    });
</script>
</html>